<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AMT/src/iitb/Segment/Segment.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="iitb.Segment.Segment"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="test -f /home/sean/EclipseWorkspace2/AMT/samples/us50.conf"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AMT"/>
</launchConfiguration>
